<label for="filterLine"></label>
<input class="inputField"
       id="filterLine"
       [(ngModel)]="currentInput"
       (change)="onValueChange()">
<div #autocomplete>
  <a *ngFor="let option of autocompleteData" class="dropdown-item" (click)="currentInput = option">
    {{option}}
    <!--ng-template>
      <span *ngIf="isColumn(option)">{{getColumnType(option)}}</span>
      <span>{{option.toString()}}</span>
    </ng-template-->
  </a>
</div>

<app-autocomplete-input
  [allOptions]="autocompleteData"
></app-autocomplete-input>
