<app-autocomplete-input
  #defaultInput
  [allOptions]="autocompleteData"
  [optionTemplate]="optionTemplate"
  [(value)]="currentInput"
  (valueChange)="onValueChange()"
></app-autocomplete-input>

<app-autocomplete-input
  #filterOpInput
  *ngIf="isSimpleFilter"
  [allOptions]="filterOperators"
  [(value)]="stack.operator"
  (valueChange)="onValueChange()"
  [optionTemplate]="optionTemplate"
></app-autocomplete-input>

<app-autocomplete-input
  #value
  *ngIf="isSimpleFilter && stack.operator"
  [(value)]="stack.value"
  (valueChange)="onValueChange()"
></app-autocomplete-input>

<ng-template #optionTemplate let-option>
  {{option}}
</ng-template>


