.filterItem {
  background-color: rgba(0, 90, 146, 0.1);
  margin: 6px;
  padding: 4px;
  border-radius: 5px;
  border: 1px dashed #005A92;
}

.filterLineContainer {
  padding: 20px;
  width: 90%;
  height: auto;
  background: #fff;
  border-radius: 4px;
  outline: none;
  font-size: 1em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.filterItemInactive {
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(221, 221, 221, 0.5);
}
